[Desktop Entry]
Type=Application
Terminal=false
Name=Phoebus
StartupNotify=False
Exec=java -jar /opt/phoebus-*/product-*.jar -settings phoebus.ini -server 4918
Icon=/opt/phoebus-*/phoebus.png
